engine-strict = true

# ~mr: no particular reason for changing that setting... (at least for now)
# I just don't like the trace messages polluted with all paths inside node_modules/.pnpm/
# Also, accessing the real .js code for preview seems more problematic.
node-linker = hoisted
